---
import { Image } from "astro:assets";
import type { Project } from "../types/config";
import {marked} from "marked"

type Props = Project;

const { title, description, image, year, url, demoUrl } = Astro.props;

const htmlDescription = marked.parse(description)
---

<div class="tilt-card sm:py-5 py-10 flex flex-col sm:flex-row gap-6 group-hover:opacity-60 hover:!opacity-100 transition-opacity rounded-xl">
  <a
    href={url}
    target="_blank"
    class="overflow-hidden h-full bg-gray-200 dark:bg-gray-700 rounded-lg aspect-video sm:h-[150px] block"
  >
    <Image
      width={1920}
      height={1080}
      src={image}
      alt={title}
      class="post-img w-full h-full object-cover rounded-lg aspect-video"
    />
  </a>
  <div class="flex-1">
    <div class="flex items-center gap-1 mb-2">
      <a href={url} target="_blank" class="hover:underline">
        <h2 class="font-medium">{title}</h2>
      </a>
      {year && <span class="opacity-60">· {year}</span>}
    </div>
    <div class="opacity-60">
      <Fragment set:html={htmlDescription} />
      {demoUrl && (
        <span>
          {" "}
          <a
            href={demoUrl}
            target="_blank"
            class="text-blue-600 hover:text-blue-500 dark:text-blue-400 dark:hover:text-blue-300 underline"
          >
See demo
          </a>
        </span>
      )}
    </div>
  </div>
</div>
